* {
	padding: 0;
	margin: 0;
	font-family: Consolas, monospace;
}

#nav {
	width: 100vw;
	background: #f0eded;
	text-align: center;
	height: 50px;
	display: grid;
	align-items: center;
	position: absolute;
}
#nav_header {
	color: #89c5f0;
	font-family: Consolas, monospace, 'Courier New', Courier, arial, sans-serif;
	font-size: 55px;
	position: relative;
	top: -10px;
}
#nav_header::selection {
	background: transparent;
	color: currentcolor;
}
::selection {
	background: #323edf;
}
.nav_btn {
	cursor: pointer;
	z-index: 99999;
}

.nav_btn:hover {
	transition: background-color 0.2s ease-out;
	background-color: #6bd4e4 !important;
	border-color: #6bd4e4 !important;
}

.input {
	width: 200px;
	background: lightslategrey;
	color: #fff;
	font-family: Monospace, arial, sans-serif;
	border: none;
	border-radius: 3px;
	padding: 5px;
}

.input::placeholder {
	color: #fff;
	font-family: monospace, arial, sans-serif;
}

.btn {
	font-family: Monospace, consolas, arial, sans-serif;
	font-size: 20px;
	height: 30px;
	width: 250px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #f5f5f5;
}

.hide-href {
	text-decoration: none;
	color: currentColor;
}

.select {
	width: 200px;
	height: 40px;
	color: lightblue;
	background: lightslategray;
	border: none;
	outline: none;
	border-radius: 3px;
}