<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beta IDE -- <%= name %></title>
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="icon" href="../../../assets/logo.png">
	<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
	<script src="/assets/ej.js"></script>
	<link rel="stylesheet" href="/css/edit_style.css">
</head>
<body>
	<nav id='nav'>
		<button class='btn' onclick='cf()'>Create File</button>
		<h1 id='nav_header'>Beta IDE -- <span id='cf'></span></h1>
		<a id='ltv'>View</a>
		<a id='ltv-v2' href="javascript:viewJson();">JSON</a>
	</nav>
	<div id="json-view">
		<pre>
			<code id="jView" class="hljs language-json">
			</code>
		</pre>
		<button class="btn" id="jc-bt" onclick="copyJson()">Copy</button>
		<input class="btn" id="jc-btw">
		<button class="btn" id="jc-btz" onclick="copyJson()">API Link</button>
	</div>
	<div id='body'>
		<div id='files'>
			<!--This will display all the files-->
			<div id='fhold' style="position: absolute; left: -99999999px; white-space: pre-wrap"><%= files %></div>
			<script src="/assets/e2.js"></script>
		</div>
		<textarea id="text-edit"></textarea>
		<div id="editor"></div>
		<script src='/socket.io/socket.io.js'></script>
		<script src='/../../../assets/darkmode.js'></script>
		<script src='/../../../assets/lightmode.js'></script>
		<div id='cname' style='white-space: pre-wrap'><%= name %></div>
		<div id='uname' style='white-space: pre-wrap'><%= owner %></div>
		<script src='/assets/edit.js'></script>
	</div>
</body>
</html>